a{
    color: red;
}
a:hover{
    color: lime;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h1 + p{
    font-weight: bold;
}
.destaque{
    font-family: Arial, Helvetica, sans-serif;
}
p.destaque{
    font-weight: bold;
}
strong.destaque{
    color: red;
}